/* CSS for extend vdocipher */

.extvdo-pullout-wrapper{
    color:inherit;
}
.extvdo-pullout-wrapper p{
    letter-spacing: .555px;
}
.extvdo-pullout-wrapper small{
    font-size: .825rem;
    letter-spacing: initial;
}
.extvdo-input{
    width: 100%;
    display: block;
}
input[type="text"].extvdo-field{
    border:none;
    background: transparent;
    opacity: .9;
    max-width: 98%;
}

.extvdo-total-played{
    display: block;
    width: max-content;
    line-height: 1.8;
}
.extvdo-total-played:before{
    content: "🕓";
    display:inline-block;
    margin-right:1em;
}
.extvdo-tp,
.extvdo-tc{
    display: none;
}
.extvdo-puller button{
    background: transparent;
    background-image: none;
    font-size: large;
    border: thin solid #bbb;
    border-radius:4px;
    cursor:pointer;
    background-color: darkorange;
}
.extvdo-puller span{
    background: rgba(255,255,255, .8);
}
.extvdo-link-button{
    display: button;
    background: #007cab;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
}
.extvdo-timed{
    padding: 8px;
    background: rgba(225,250,255, .5);
    border-top: thin solid #6ad;
    border-right: thin solid #6ad;
    border-bottom: thin solid #6ad;
    border-radius: 0 5px 5px 0;
    max-height: 85px;
    transition-timing-function: ease-in-out;
    transition-property: left;
    transition-duration: 1s;
    z-index: 200;
}
.extvdo-timed:active,
.extvdo-timed:focus,
.extvdo-timed:focus-within{
    left: 0;
}

.extvdo-puller{
    width: 3.336rem;
    position: relative;
    display: inline-block;
    font-size: .825em;
    padding: 5px;
    color: darkcyan;
    border-radius: 0 5px 5px 0;
}
@media screen and ( max-width: 768px ){
    .extvdo-timed{
        position: fixed;
        bottom: 27vh;
        left: -120px;
        width: calc( 30vw + 30px);
    }
    .extvdo-timed:active,
    .extvdo-timed:focus,
    .extvdo-timed:focus-within{
        left: 0;
    }
    .extvdo-puller{
        left: 75%;
        top: 0;
        height: 100%;
        width: 3.5em;
        position: absolute;

    }
}
@media screen and ( min-width: 769px ){
    .extvdo-timed{
        position: fixed;
        padding: 5px 15px;
        width: calc( 15vw + 20px);
        bottom: 23vh;
        left: -156px;
        
    }
    .extvdo-timed:active,
    .extvdo-timed:focus,
    .extvdo-timed:focus-within{
        left: 0;
    }
    .extvdo-puller{
        left: 84%;
        top: -79px;
    }
} 
